@using Mailer.Web.Components
@model MailboxMenuViewModel

<a asp-action="Compose" asp-controller="Message" asp-route-targetUpdate="@Model.DataTargetUpdate"
   data-ajax="true"
   data-ajax-update="@Model.DataTargetUpdate"
   data-ajax-method="get" class="btn btn-primary btn-block mb-3">
    Compose
</a>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Folders</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0" style="display: block;">
        <ul class="nav nav-pills flex-column">

            <li class="nav-item">
                <a asp-action="Index" asp-controller="Folder" asp-route-folderId="@Model.SentFolder.FolderId"
                   data-ajax="true"
                   data-ajax-update="@Model.DataTargetUpdate"
                   data-ajax-method="get" class="nav-link">
                    <i class="far fa-envelope"></i> Sent
                    <span class="badge bg-primary float-right">@Model.SentFolder.MessagesCount</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Folder" asp-route-folderId="@Model.DraftsFolder.FolderId"
                   data-ajax="true"
                   data-ajax-update="@Model.DataTargetUpdate"
                   data-ajax-method="get"
                   class="nav-link">
                    <i class="far fa-file-alt"></i> Drafts
                    <span class="badge bg-secondary float-right">@Model.DraftsFolder.MessagesCount</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Folder" asp-route-folderId="@Model.TrashFolder.FolderId"
                   data-ajax="true"
                   data-ajax-update="@Model.DataTargetUpdate"
                   data-ajax-method="get"
                   class="nav-link">
                    <i class="far fa-trash-alt"></i> Trash
                    <span class="badge bg-danger float-right">@Model.TrashFolder.MessagesCount</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Labels</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0" style="display: block;">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle text-danger"></i>
                    @Localizer[Mailer.Core.Domain.Emails.EmailPriority.Low.ToLocalizationKey()]
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle text-warning"></i>
                    @Localizer[Mailer.Core.Domain.Emails.EmailPriority.Normal.ToLocalizationKey()]

                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle text-primary"></i>
                    @Localizer[Mailer.Core.Domain.Emails.EmailPriority.High.ToLocalizationKey()]
                </a>
            </li>
        </ul>
    </div>

</div>

