@using Mailer.Web.Components
@model MailboxMenuViewModel

<a asp-action="Compose" asp-controller="Message" asp-route-targetUpdate="@Model.DataTargetUpdate"
   data-ajax="true"
   data-ajax-update="@Model.DataTargetUpdate"
   data-ajax-method="get" class="btn btn-primary btn-block mb-3">
    @Localizer[LocalizationKeys.Compose]
</a>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            @Localizer[LocalizationKeys.Folders]
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0" style="display: block;">
        <ul class="nav nav-pills flex-column">

            <li class="nav-item">
                <a asp-action="Index" asp-controller="Folder" 
                   asp-route-folderId="@Model.SentFolder.FolderId"
                   asp-route-targetUpdate="@Model.DataTargetUpdate"
                   data-ajax="true"
                   data-ajax-update="@Model.DataTargetUpdate"
                   data-ajax-method="get" class="nav-link">
                    <i class="far fa-envelope"></i>
                    @Localizer[Mailer.Core.Domain.Folders.FolderType.Sent.ToLocalizationKey()]
                    <span include-if="@Model.SentFolder.MessagesCount>0" class="badge bg-primary float-right">@Model.SentFolder.MessagesCount</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Folder" asp-route-folderId="@Model.DraftsFolder.FolderId"
                   data-ajax="true"
                   asp-route-targetUpdate="@Model.DataTargetUpdate"
                   data-ajax-update="@Model.DataTargetUpdate"
                   data-ajax-method="get"
                   class="nav-link">
                    <i class="far fa-file-alt"></i>
                    @Localizer[Mailer.Core.Domain.Folders.FolderType.Drafts.ToLocalizationKey()]

                    <span include-if="@Model.DraftsFolder.MessagesCount>0" class="badge bg-secondary float-right">@Model.DraftsFolder.MessagesCount</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Folder" asp-route-folderId="@Model.TrashFolder.FolderId"
                   data-ajax="true"
                   data-ajax-update="@Model.DataTargetUpdate"
                   asp-route-targetUpdate="@Model.DataTargetUpdate"
                   data-ajax-method="get"
                   class="nav-link">
                    <i class="far fa-trash-alt"></i>
                    @Localizer[Mailer.Core.Domain.Folders.FolderType.Trash.ToLocalizationKey()]
                    <span include-if="@Model.TrashFolder.MessagesCount>0" class="badge bg-danger float-right">@Model.TrashFolder.MessagesCount</span>
                </a>
            </li>
        </ul>
    </div>
</div>
