@using Mailer.Web.Components
@using Humanizer
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model FolderMessagesViewModel


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title col-md-4">@Model.FolderName</h3>
        <div class="card-tools col-md-8">
            <form asp-action="Search" asp-controller="Folder" ajax="true"
                  ajax-update="@Model.TargetUpdate"
                  asp-route-folderId="@Model.FolderId"
                  asp-route-targetUpdate="@Model.TargetUpdate">
                <div class="row">
                    <div class="form-group col-md-4">
                        <select asp-for="@Model.EmailPriority" class="form-control" asp-items="@Model.EmailPriorities"></select>
                    </div>
                    <div class="form-group  col-md-6">
                        <input asp-for="@Model.SearchTerm" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-primary">@Localizer[LocalizationKeys.Search]</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <tbody>
                    @foreach (var item in Model.Emails)
                    {
                        <tr>
                            <td class="mailbox-name">
                                <a asp-action="Details"
                                   asp-controller="Message"
                                   asp-route-emailId="@item.Id"
                                   data-ajax="true"
                                   data-ajax-update="@Model.TargetUpdate">
                                    @item.ToName
                                </a>
                            </td>
                            <td class="mailbox-subject">
                                <b>@item.Subject.Truncate(30)</b> - @item.BodyStriped.Truncate(100)
                            </td>
                            <td class="mailbox-date">@DateTimeConverter.ConvertToLocal(item.CreatedOnUtc).Humanize(false)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer clearfix">
        @Html.PagedListPager(Model.Emails, page => Url.Action("Paginate", "Folder",new { page = page, 
           folderId = Model.FolderId, 
           targetUpdate = Model.TargetUpdate, 
           emailPriority = Model.EmailPriority, 
           searchTerm = Model.SearchTerm }),
         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
         {
             LiElementClasses = new string[] { "page-item" },
             PageClasses = new string[] { "page-link" },
             
         }, new AjaxOptions
         {
             HttpMethod = "GET",
             UpdateTargetId = "folderUpdateTarget"
         })
        )
    </div>
</div>
