@using Mailer.Web.Models.Message
@model MessageComposeViewModel

<form method="post"
      ajax="true"
      asp-route-targetUpdate="@Model.TargetUpdate"
      asp-route-draftEmailId="@Model.Id"
      asp-controller="Message"
      data-ajax-update="@Model.TargetUpdate">
    <input asp-for="@Model.Id" class="form-control" type="hidden" />
    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">@Localizer[LocalizationKeys.NewMessage]</h3>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label asp-for="@Model.To" class="col-md-2 control-label text-right"></label>
                <div class="col-md-10">
                    <select asp-for="@Model.To" asp-items="@Model.ToSelectList(Model.To)" class="form-control select2"></select>
                    <span asp-validation-for="@Model.To" class="text-danger"></span>
                    @for (int i = 0; i < Model.To.Count; i++)
                    {
                        <span asp-validation-for="@Model.To[i]" class="text-danger"></span>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Cc" class="col-md-2 control-label text-right"></label>
                <div class="col-md-10">
                    <select asp-for="@Model.Cc" asp-items="@Model.ToSelectList(Model.Cc)" class="form-control select2"></select>

                    <span asp-validation-for="@Model.Cc" class="text-danger"></span>
                    @for (int i = 0; i < Model.Cc.Count; i++)
                    {
                        <span asp-validation-for="@Model.Cc[i]" class="text-danger"></span>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Bcc" class="col-md-2 control-label text-right"></label>
                <div class="col-md-10">
                    <select asp-for="@Model.Bcc" asp-items="@Model.ToSelectList(Model.Bcc)" class="form-control select2"></select>
                    <span asp-validation-for="@Model.Bcc" class="text-danger"></span>
                    @for (int i = 0; i < Model.Bcc.Count; i++)
                    {
                        <span asp-validation-for="@Model.Bcc[i]" class="text-danger"></span>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Subject" class="col-md-2 control-label text-right"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.Subject" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.EmailPriority" class="col-md-2 control-label text-right"></label>
                <div class="col-md-10">
                    <select asp-for="@Model.EmailPriority" asp-items="Model.EmailPriorities" class="form-control select2"></select>
                    <span asp-validation-for="@Model.EmailPriority" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <textarea asp-for="Body" rows="5" cols="40"></textarea>
                </div>
            </div>

        </div>
        <div class="card-footer ">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info"><i class="fa fa-times"></i> @Localizer[LocalizationKeys.Discard]</a>
            <div class="pull-right">
                <button type="submit" asp-action="SaveAsDraft" class="btn btn-default"><i class="fa fa-save"></i> @Localizer[LocalizationKeys.SaveAsDraft]</button>
                <button type="submit" asp-action="Compose" class="btn btn-primary"><i class="fa fa-envelope-o"></i> @Localizer[LocalizationKeys.Send]</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#@Html.IdFor(x=>x.Body)').summernote({
            height: 200
        });
        $("#@Html.IdFor(x=>x.To)").select2({ tags: true, tokenSeparators: [',', ' '] });
        $("#@Html.IdFor(x=>x.Cc)").select2({ tags: true, tokenSeparators: [',', ' '] });
        $("#@Html.IdFor(x=>x.Bcc)").select2({ tags: true, tokenSeparators: [',', ' ']  });
        $("#@Html.IdFor(x=>x.EmailPriority)").select2({});

    });
</script>

<script include-if="@Model.Id.HasValue">
    function startCloseDraftMessagesSignalR() {
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/emailhub")
            .withAutomaticReconnect([0, 2, 5, 15, 60])
            .build();

        connection.on("CloseDraft", function () {
            window.location.href ='@Url.Action("Index","Home")';
        });
        connection.start().then(function () {
            connection.invoke("JoinCloseDraftGroup",@Model.Id.Value);
        });
    }

    $(document).ready(function () {
       startCloseDraftMessagesSignalR()
    });
</script>
